<mat-expansion-panel (opened)="showProgressBar()">
  <mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutGap="15px">
      <span class="material-icons font-color"> library_books </span>
      <span class="typography-20--bold">Extra Settings</span>
    </div>
  </mat-expansion-panel-header>

  <div fxLayout="column" fxLayoutGap="20px" *ngIf="this.settings$ | async as tSettings">
    <app-system-setting-frame [setting]="tSettings.allowPrimaryPayment.settingName + '.'" *ngIf="planType === 'paygo'"
    >
      <mat-checkbox class="form-field-control system-settings-checkbox typography-14"
      [ngModel]="parseBool(tSettings.allowPrimaryPayment.setting?.settingValue)"
      (change)="onUpdateSetting(tSettings.allowPrimaryPayment.setting, $event)"></mat-checkbox>
    </app-system-setting-frame>

    <app-system-setting-frame [setting]="tSettings.communicationEmail.settingName + '.'"
    >
      <mat-checkbox class="form-field-control system-settings-checkbox typography-14"
      [ngModel]="parseBool(tSettings.communicationEmail.setting?.settingValue)"
      (change)="onUpdateSetting(tSettings.communicationEmail.setting, $event)"></mat-checkbox>
    </app-system-setting-frame>

    <app-system-setting-frame [setting]="tSettings.twoWayText.settingName + '.'"
    [promptconfig]="{
      show: true,
      helpTopicId: '43'
    }"
    >
      <mat-checkbox class="form-field-control system-settings-checkbox typography-14"
      [ngModel]="parseBool(tSettings.twoWayText.setting?.settingValue)"
      (change)="onUpdateSetting(tSettings.twoWayText.setting, $event)"></mat-checkbox>
    </app-system-setting-frame>

    <app-system-setting-frame [setting]="tSettings.sharedControl.settingName + '.'"
    >
      <mat-checkbox class="form-field-control system-settings-checkbox typography-14"
      [ngModel]="parseBool(tSettings.sharedControl.setting?.settingValue)"
      (change)="onUpdateSetting(tSettings.sharedControl.setting, $event)"></mat-checkbox>
    </app-system-setting-frame>

    <!--<app-system-setting-frame [setting]="tSettings.calenderView.settingName + '.'"
    >
      <mat-checkbox class="form-field-control system-settings-checkbox typography-14"
      [ngModel]="parseBool(tSettings.calenderView.setting?.settingValue)"
      (change)="onUpdateSetting(tSettings.calenderView.setting, $event)"></mat-checkbox>
    </app-system-setting-frame>-->

  </div>
  <mat-progress-bar mode="determinate"
  *ngIf='this.progressBarVisable'
  [value]="this.progressValue"></mat-progress-bar>
</mat-expansion-panel>
