<div fxLayout="column" fxLayoutGap="26px" class="dialog">
  <p>
    We've noticed you have been sending your messages very frequently this month, great job communicating!
  </p>
  <br>
  <p>
    Be careful however, as years of user feedback has shown that sending multiple messages too quickly can cause message fatigue.
  </p>
  <br>
  <p>
    The sweet spot for user satisfaction is typically within the 2-4 messages a week- which falls well within our responsible use guidelines. With this approach you may find even more success.
  </p>
  <br>
  <p>
    *You may be required to upgrade plans if you continue to send a very high frequency.
  </p>
  <div fxLayout fxLayoutAlign="space-around center" >
    <button (click)="onCloseDialog()" mat-raised-button color="primary">
      CONTINUE
    </button>
  </div>
</div>
