<div fxLayout="column" fxLayoutGap="26px" class="dialog">
  <div fxLayout fxLayoutAlign="space-between baseline">
    <h3 class="typography-20 typography-20--bold">Schedule Message</h3>
    <button
      mat-icon-button
      (click)="onCloseDialog()"
      class="app-icon-button-20"
    >
      <mat-icon class="regular-grey">close</mat-icon>
    </button>
  </div>
  <form
    [formGroup]="dateForm"
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="20px"
  >
    <app-date-time-picker
      formControlName="date"
      (valueChange)="onDateChange($event)"
    >
      <!--<div fxLayout="column">
        <span
          class="tpography-18 typography-18--bold"
          fxLayoutAlign="center center"
        >
          Repeat options
        </span>
        <div fxLayoutAlign="center center">
          <mat-form-field appearance="legacy" fxFlex>
            <mat-select
              formControlName="repeatOptions"
              disableRipple
              class="mat-select mat-select-label--14"
            >
              <mat-option *ngFor="let option of RepeatOptions" [value]="option">
                <span class="typography-12">{{ option }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>-->
    </app-date-time-picker>
  </form>

  <div fxLayout fxLayoutGap="10px">
    <button
      mat-button
      mat-stroked-button
      color="primary"
      fxFlex
      class="button--blue-border"
      (click)="onCloseDialog()"
    >
      CANCEL
    </button>
    <div
      fxFlex
      fxLayout
      #tooltip="matTooltip"
      matTooltip="Start date should not be before current date"
      matTooltipPosition="above"
      [matTooltipDisabled]="!selectedDateInvalid"
    >
      <button
        fxFlex
        mat-flat-button
        color="primary"
        (click)="updateSchedule()"
        [disabled]="selectedDateInvalid"
      >
        UPDATE SCHEDULE
      </button>
    </div>
  </div>
</div>
