.message {
  &--non-resizable {
    resize: none;
  }
}

.text-message {
  &--size {
    width: 100%;
  }
}

.max-width {
  max-width: 300px;
}

.CellPhoneDivText {
  padding-top: 110px;
  padding-left: 25px;
  height: 300px;
  width: 200px;
  left: 30px;

  & > div {
    width: 180px;
    height: 274px;
    overflow: hidden;
    margin-top: 2px;

    & > div {
      width: 185px;
      height: 274px;
      background-color: white;
      overflow-x: hidden;
      overflow-y: scroll;

      .message-sample {
        border-radius: 6px;
        background-color: #1d77ef;
        color: white;
        font-size: 12px;
        word-wrap: break-word;
        padding: 0 10px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: small;
      }
    }
  }
}
