@import '/src/styles//variables';

.user {
  &__notifications {
    .mat-icon {
      width: unset;
      font-size: 22px;
    }
  }
}

.user-menu-item {
  width: 100%;
}

.user__avatar {
  img {
    border-radius: 94.5px;
  }
}

.mat-button-wrapper {
  background-color:#4caf50;
  color:white;
  border:1px;
  border-color:#4caf50;
  border-radius:3px;
}

@media (max-width: 959px) {
  .user__info--balance {
    color: $app-rhino;
  }
}

.pointer {
  cursor: pointer;
}

.person--icon {
  padding-left: 5px;
}
