@import 'src/styles/variables';

.schedule-reminder-date {
  padding: 26px 36px;
  margin: 0 0 120px 0;
}

.material-icons {
  color: $app-grey;
}

.content {
  max-width: 400px;
}

.close {
  &:hover {
    cursor: pointer;
  }
}
