@import '/src/styles/variables';

.my-plan {
  padding: 50px 20px 0 80px;
  @include respond(tab-port) {
    padding: 30px 15px;
  }
}

.plan-action-button {
  width: 200px;
  @include respond(phone) {
    width: 100%;
  }
}

.mat-card {
  max-height: 14rem;
  overflow-y: auto;

  @include respond(phone) {
    max-height: inherit;
    overflow-y: inherit;
  }
}
