<div fxLayout="column" fxLayoutGap="26px">
  <div fxLayout fxLayoutAlign="space-between baseline">
    <h3 fxHide.xs class="typography-20">
      <span class="typography-20--bold">Message Details</span> -
      <span>
        {{ message.notificationName }}
      </span>
    </h3>
    <div fxHide.gt-xs fxLayout="column" fxLayoutGap="15px">
      <h3 class="typography-16 typography-16--bold">Message Details</h3>
      <span class="typography-16">
        {{ message.notificationName }}
      </span>
      <span class="typography-14 text-grey">
        Creation date: {{ message.creationDate }}
      </span>
    </div>
    <button mat-icon-button (click)="onClose()" class="app-icon-button-20">
      <mat-icon class="regular-grey app-icon-20 app-icon-20--scale-mobile">
        close
      </mat-icon>
    </button>
  </div>

  <div class="body">
    <div
      fxLayout
      fxLayout.lt-md="column"
      fxLayoutGap="50px"
      fxLayoutGap.lt-md="15px"
    >
      <div fxLayout fxLayoutGap="15px">
        <mat-icon
          fontSet="material-icons-outlined"
          color="primary"
          class="app-icon-30 app-icon-30--scale-mobile"
          *ngIf="!message.acceptResponses"
        >
          sms
        </mat-icon>
        <mat-icon
          fontSet="material-icons-outlined"
          color="primary"
          class="app-icon-30 app-icon-30--scale-mobile"
          *ngIf="message.acceptResponses"
        >
          poll
        </mat-icon>
        <span
          *ngIf="!message.acceptResponses"
          class="typography-18 typography-18--bold typography-18--scale-mobile"
        >
          Text Message
        </span>
        <span
          *ngIf="message.acceptResponses"
          class="typography-18 typography-18--bold typography-18--scale-mobile"
        >
          Polling Text Message
        </span>
      </div>

      <div fxLayout="column" fxLayoutGap="20px" fxFlex>
        <div
          class="
            typography-16 typography-16--bold typography-16--scale-mobile
            text-message
          "
        >
          From: {{ message.smsFromText }}
        </div>
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile"
        >
          Default number:
          {{ message.textNumber ? message.textNumber : ' - ' }}
        </span>
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile"
          *ngIf="message.acceptResponses"
        >
          This is a polling text that accepts Responses.
        </span>
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile"
          *ngIf="message.smsText"
        >
          {{showText}}
        </span>
      </div>
    </div>
  </div>

  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap="10px"
    *ngIf="message.showActions"
  >
    <button mat-flat-button color="primary" fxFlex (click)="onMessageSelect()">
      <span class="typography-14 typography-14--scale-mobile">
        USE THIS MESSAGE
      </span>
    </button>
    <button
      mat-button
      mat-stroked-button
      color="primary"
      color="primary"
      class="typography-14"
      fxFlex
      (click)="onClose()"
    >
      <span class="typography-14"> Choose A Different Message </span>
    </button>
  </div>
</div>
