<footer>
  <div class="wrapper" fxLayoutAlign="center center">
    <div
      fxLayout="row"
      fxLayoutAlign="space-around center"
      fxLayout.lt-md="column"
      class="footer-container"
    >
      <div class="footer-container--nav">
        <ul>
          <li class="typography-12 typography-12--bold" routerLink="#">
            <a
              href="https://www.callingpost.com/Callingpost_Reviews"
              target="_blank"
              >REVIEWS</a
            >
          </li>
          <li class="typography-12 typography-12--bold">
            CALL: <a href="tel:877.665.5646">877.665.5646</a>
          </li>
          <li class="typography-12 typography-12--bold">
            TEXT:
            <a href="sms:706-510-3019"> 706-510-3019</a>
          </li>
          <li class="typography-12 typography-12--bold" routerLink="#">
            Email:
            <a href="mailto:support@callingpost.com">support@callingpost.com</a>
          </li>
        </ul>
      </div>

      <div class="typography-12">
        &copy; <app-current-year></app-current-year> CallingPost Communications Inc.
      </div>
    </div>
  </div>
</footer>
