<div fxLayout="column" fxLayoutGap="30px" [formGroup]="form">
    <div fxLayout fxLayoutAlign="space-between center">
      <span class="typography-20 typography-20--bolder typography-20--scale-mobile">
        Call forwarding for {{ data?.phoneNumber | phoneNumberFormat}}
      </span>

      <span class="material-icons" mat-dialog-close> close </span>
    </div>

    <span class="typography-18 typography-18--bold typography-16--scale-mobile margin-top--20">
      What number would you like to forward to?
    </span>

    <div fxLayout="column" >
      <mat-form-field>
        <mat-select
        formControlName="forwardPhoneNumberTo"
        >
          <mat-option *ngFor="let p of (phoneNumbers$ | async)" [value]="p.phoneNumber">
            {{ p?.phoneNumber}}
          </mat-option>
          <mat-option value="no">
            {{ 'Remove Call Forwarding' }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="
        form.get('forwardPhoneNumberTo')?.touched &&
        form.get('forwardPhoneNumberTo')?.errors?.required">Please select a value.</mat-error>
      </mat-form-field>
    </div>

    <span>
      <span class="typography-16 typography-16--bold typography-14--scale-mobile">Note:</span>
        <span class="typography-14 typography-14--scale-mobile">
          only verified phone numbers can be used for call
          forwarding. Verified phone number can be added from <span style="color: #2f7ae2; cursor: pointer;">My Profile</span>.
        </span>
      </span>

    <div fxLayout="row" fxLayoutGap="15px">
     <button mat-raised-button type="button" class="button button-primary-inverted create"
     mat-dialog-close fxFlex
     (click)="closeDialog()"
     >Cancel</button>
     <button mat-raised-button type="button" class="button button-submit create" fxFlex
     (click)="onSave()"
     [disabled]="!form.valid"
       >Save</button>
   </div>
</div>
