.auth-button {
  width: min-content;
  min-width: 170px;
}

.mat-card {
  margin-top: 50px;
}

mat-card.invalid-credential {
  height: 1000px;
}

.register-container {
  display: block;
  padding: 45px;
}

.logo-block {
  margin: 0 auto;
}

.mat-card-image {
  width: 265px;
}

.auth-title {
  margin-bottom: 20px;
}

.user-form-container {
  margin-bottom: 1px;
}

.no-account-yet {
  margin-top: 30px;
  padding-top: 30px;
}

.text-container {
  margin-right: 30px;
}

.icon-mr-10 {
  margin-right: 10px;
}

@media screen and (max-width: 958px) {
  .text-container {
    margin-right: 0px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .mat-card {
    width: 400px;
    margin-top: 50px;
  }
  .register-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-container {
    margin-right: 0px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {
  .mat-card {
    padding: 0px;
    margin: 0px;
    width: 100vw;
  }
  .register-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .user-form-container {
    font-size: 16px !important;
  }
  .no-account-yet {
    font-size: 14px;
  }
  .text-container {
    margin-right: 0px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 355px) {
  .register-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .auth-title {
    font-size: 18px;
  }
  .no-account-yet {
    font-size: 13px;
  }
  .text-container {
    margin-right: 0px;
    margin-top: 10px;
  }
}
