.recorder {
  max-width: 315px;
}

.call-in-response {
  text-align: center;
}

.caller-id-action {
  margin-bottom: 5px;
}

.new-caller-button-margin {
  margin-top: 30px;
}

.voice-message-width {
  min-width: 300px;

  button {
    width: auto;
  }
}

.record-select {
  max-width: 235px;
}
