<app-bottom-sheet title="Select Message Recipients">
  <ng-container body>
    <div fxLayout="column" fxLayoutGap="30px">
      <app-search-expanded
        label="Search groups"
        [formControl]="searchControl"
      ></app-search-expanded>
      <div fxLayout="column" fxLayoutGap="10px">
        <ng-container *ngFor="let item of chipsOptions$ | async">
          <div fxLayout fxLayoutAlign="space-between center">
            <span class="typography-16 typography-16--bold">
              {{ item.value }}
            </span>
            <button mat-flat-button color="primary" (click)="onSelect(item)">
              <span class="typography-12">SELECT</span>
            </button>
          </div>
        </ng-container>
        <mat-divider></mat-divider>
          <button
            *ngIf="data.customOption"
            (click)="onCustomOptionSelect()"
            mat-button
            class="button button--no-border custom-option"
            fxFlex
            type="button"
          >
            {{ data.customOption }}
          </button>
        <mat-divider></mat-divider>
      </div>
    </div>
  </ng-container>
</app-bottom-sheet>
