:host {
  display: flex;
  justify-content: center;
  background-image: url('../../assets/img/Login-background.svg');
  background-color: #F9FAFC;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
