<div>
<div class="payment-method" fxFlexAlign.lt-sm="center">
  <div class="container">
    <div>
      <div class="logo">
        <img mat-card-image src="../../../assets/img/CallingPostLogo.png" width="265" />
      </div>
      <div
        fxLayout
        fxLayout.lt-lg="column"
        fxLayoutAlign="space-around start"
        fxLayoutAlign.lt-lg="center center"
        fxLayoutGap.lt-md="20px"
      >
        <div fxLayout="column" fxLayoutGap="15px">
          <div *ngIf="creditsModeOn">
            <div
              class="form-row-left_board select-contact"
              fxLayout="column"
              fxLayoutGap.gt-xs="10px"
              fxFlexAlign.lt-md="center"
            >
              <div
                class="
                  typography-18
                  typography-18--bolder
                  typography-18--scale-mobile
                "
                ngClass.lt-md="text-center"
              >
                How many credits do you need?
              </div>
              <div
                fxLayout="row"
                fxLayoutGap="15px"
                fxLayoutAlign="space-between center"
              >
                <div fxFlex="60">
                  <mat-form-field fxFlexFill>
                    <mat-select
                      placeholder="Set credits count"
                      [formControl]="contactListControl"
                      (selectionChange)="setPackage($event)"
                    >
                      <mat-option
                        *ngFor="let feature of packageFeatures[1]"
                        [value]="feature.id"
                      >
                        {{ feature.creditCount }}0 Credits (0 &#162; per Credit)
                      </mat-option>
                      <mat-option
                        *ngFor="let feature of packageFeatures[0]"
                        [value]="feature"
                      >
                        {{ feature.creditCount }} Credits ({{
                          feature.creditCount / feature.cost | number: '2.0-1'
                        }}
                        &#162; per Credit)
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      Please select how many number do you use.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <div *ngIf="isValidPromoCode">
                    <div
                      *ngFor="let packagePrice of packageSelect"
                      fxFlexAlign="center"
                      fxLayout="column"
                    >
                      <span
                        class="
                          typography-18
                          typography-18--bolder
                          typography-18--scale-mobile
                          form-row-left_board-fee_price-number
                        "
                        >${{ packagePrice.cost | number: '1.1-2' }}</span
                      >
                      <span
                        class="
                          typography-18
                          typography-18--bolder
                          typography-18--scale-mobile
                          text-lime-green
                        "
                        >+{{
                          packagePrice.creditCount * PROMO_DISCOUNT
                        }}
                        Credits</span
                      >
                    </div>
                  </div>
                  <div *ngIf="!isValidPromoCode">
                    <div
                      *ngFor="let packagePrice of packageSelect"
                      fxFlexAlign="center"
                      fxLayout
                    >
                      <span
                        class="
                          typography-18
                          typography-18--bolder
                          typography-18--scale-mobile
                          form-row-left_board-fee_price-number
                        "
                        >${{ packagePrice.cost | number: '1.1-2' }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <app-promo
                  (valueChange)="setPromoValue($event)"
                  (deleteButtonDetection)="setPromoValueNull()"
                  [formControl]="promoCodeControl"
                  class="margin-bottom--10"
                  title="Promo Code?"
                ></app-promo>
              </div>
            </div>
          </div>
          <div *ngIf="!creditsModeOn">
            <div
              class="form-row-left_board select-contact"
              fxLayout="column"
              fxLayoutGap.gt-xs="10px"
              fxFlexAlign.lt-md="center"
            >
              <div
                class="
                  typography-18
                  typography-18--bolder
                  typography-18--scale-mobile
                "
                ngClass.lt-md="text-center"
              >
                How many phone number will you have?
              </div>
              <div
                fxLayout="row"
                fxLayoutGap="15px"
                fxLayoutAlign="space-between center"
              >
                <div fxFlex="60">
                  <mat-form-field fxFlexFill>
                    <mat-select
                      [formControl]="contactListControl"
                      (selectionChange)="setPackage($event)"
                    >
                      <mat-option
                        *ngFor="let feature of packageFeatures[1]"
                        [value]="feature.id"
                      >
                        up to {{ feature.memberCount }} ({{
                          (feature.cost / feature.memberCount) * 100
                            | number: '1.0-0'
                        }}&#162; / contact)
                      </mat-option>
                    </mat-select>
                    <mat-error
                      >Please select how many number do you use.</mat-error
                    >
                  </mat-form-field>
                </div>

                <div
                  class="
                    typography-18
                    typography-18--bolder
                    typography-18--scale-mobile
                  "
                  fxFlexAlign="center"
                  fxLayout
                >
                  $
                  <span *ngFor="let packagePrice of packageSelect">
                    {{ packagePrice.cost }}
                  </span>
                  /month
                </div>
              </div>
            </div>
            <div
              class="form-row-left_board"
              fxLayout="column"
              fxLayoutGap="25px"
            >
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="typography-18">Monthly fee:</div>
                <div *ngIf="!!this.promoCodeControl.value">
                  <div *ngIf="showOneYearInterface">
                    <div *ngFor="let packagePrice of packageSelect">
                      <span
                        class="
                          typography-18
                          typography-18--bold
                          typography-18--scale-mobile
                          form-row-left_board-fee_price-number
                        "
                        >${{
                          packagePrice.cost - packagePrice.cost * DISCOUNT
                            | number: '1.1-2'
                        }}</span
                      >
                    </div>
                  </div>
                  <div *ngIf="!showOneYearInterface">
                    <div *ngFor="let packagePrice of packageSelect">
                      <span
                        class="
                          typography-18
                          typography-18--bold
                          typography-18--scale-mobile
                          text-strikethrough
                          form-row-left_board-fee_price-number
                        "
                        >${{ packagePrice.cost }}</span
                      >
                      <span
                        class="
                          typography-18
                          typography-18--bold
                          typography-18--scale-mobile
                          text-lime-green
                        "
                        >${{
                          packagePrice.cost - packagePrice.cost * PROMO_DISCOUNT
                            | number: '1.1-2'
                        }}</span
                      >
                    </div>
                  </div>
                </div>
                <div *ngIf="!this.promoCodeControl.value">
                  <div *ngIf="showOneYearInterface">
                    <div *ngFor="let packagePrice of packageSelect">
                      <span
                        class="
                          typography-18
                          typography-18--bold
                          typography-18--scale-mobile
                          form-row-left_board-fee_price-number
                        "
                        >${{
                          packagePrice.cost - packagePrice.cost * DISCOUNT
                            | number: '1.1-2'
                        }}</span
                      >
                    </div>
                  </div>
                  <div *ngIf="!showOneYearInterface">
                    <div *ngFor="let packagePrice of packageSelect">
                      <span
                        class="
                          typography-18
                          typography-18--bold
                          typography-18--scale-mobile
                          form-row-left_board-fee_price-number
                        "
                        >${{ packagePrice.cost }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                fxLayout="row"
                fxLayoutGap="70px"
                fxLayoutAlign="space-between center"
              >
                <div class="typography-18 typography-18--scale-mobile">
                  Automatically renews:
                </div>
                <div class="typography-18 typography-18--scale-mobile">
                  <span>{{ renewsDate }}</span>
                </div>
              </div>
              <div>
                <mat-checkbox
                  (change)="setYearMonthDiscountCheckbox($event)"
                  [checked]="showOneYearInterface ? true : false"
                  class="typography-18 typography-18--scale-mobile"
                  >{{ DISCOUNT * 100 }}% annual discount
                </mat-checkbox>
              </div>
              <hr fxFlexAlign="center" class="hr-line" />
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div
                  class="
                    typography-18
                    typography-18--bolder
                    typography-18--scale-mobile
                  "
                >
                  {{ showOneYearInterface ? '1 year total:' : 'Total:' }}
                </div>
                <div *ngIf="isValidPromoCode">
                  <div *ngIf="showOneYearInterface">
                    <span
                      *ngFor="let packagePrice of packageSelect"
                      class="
                        typography-18
                        typography-18--bolder
                        typography-18--scale-mobile
                      "
                      >$
                      {{
                        (packagePrice.cost - packagePrice.cost * DISCOUNT) *
                          YEAR | number: '1.1-2'
                      }}
                    </span>
                  </div>
                  <div *ngIf="!showOneYearInterface">
                    <span
                      *ngFor="let packagePrice of packageSelect"
                      class="
                        typography-18
                        typography-18--bolder
                        typography-18--scale-mobile
                      "
                      >$
                      {{
                        packagePrice.cost - packagePrice.cost * PROMO_DISCOUNT
                          | number: '1.1-2'
                      }}
                    </span>
                  </div>
                </div>
                <div *ngIf="!isValidPromoCode">
                  <div *ngIf="showOneYearInterface">
                    <span
                      *ngFor="let packagePrice of packageSelect"
                      class="
                        typography-18
                        typography-18--bolder
                        typography-18--scale-mobile
                      "
                      >$
                      {{
                        (packagePrice.cost - packagePrice.cost * DISCOUNT) *
                          YEAR | number: '1.1-2'
                      }}
                    </span>
                  </div>
                  <div *ngIf="!showOneYearInterface">
                    <span
                      *ngFor="let packagePrice of packageSelect"
                      class="
                        typography-18
                        typography-18--bolder
                        typography-18--scale-mobile
                      "
                      >$ {{ packagePrice.cost | number: '1.1-2' }}
                    </span>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign=" space-between center">
                <div *ngIf="!showOneYearInterface">
                  <app-promo
                    (valueChange)="setPromoValue($event)"
                    (deleteButtonDetection)="setPromoValueNull()"
                    class="margin-bottom--10"
                    [formControl]="promoCodeControl"
                    title="Promo Code?"
                  ></app-promo>
                </div>
                <div fxFlex fxLayoutAlign="end center">
                  <div *ngIf="isValidPromoCode">
                    <div class="typography-15 text-lime-green">
                      <div *ngIf="showOneYearInterface">
                        <span *ngFor="let packagePrice of packageSelect"
                          >you saved ${{
                            packagePrice.cost * DISCOUNT * YEAR
                              | number: '1.1-2'
                          }}</span
                        >
                      </div>
                      <div *ngIf="!showOneYearInterface">
                        <span *ngFor="let packagePrice of packageSelect"
                          >you saved ${{
                            packagePrice.cost * PROMO_DISCOUNT | number: '1.0-0'
                          }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isValidPromoCode">
                    <div class="typography-15 text-lime-green">
                      <div *ngIf="showOneYearInterface">
                        <span *ngFor="let packagePrice of packageSelect"
                          >you saved ${{
                            packagePrice.cost * DISCOUNT * YEAR
                              | number: '1.1-2'
                          }}</span
                        >
                      </div>
                      <div *ngIf="!showOneYearInterface"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxHide.lt-lg fxLayout="row">
            <div
              class="trustpilot-widget"
              data-locale="en-US"
              data-template-id="53aa8807dec7e10d38f59f32"
              data-businessunit-id="5d37320fec30d000019dfd5b"
              data-style-height="130px"
              data-style-width="100%"
              data-theme="light"
              id="trustbox"
            >
              <a
                href="https://www.trustpilot.com/review/callingpost.com"
                target="_blank"
                rel="noopener"
                >Trustpilot</a
              >
            </div>

            <div class="col-md-6 col-xs-6">
              <a
                href="https://www.capterra.com/reviews/196048/CallingPost?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge"
                target="_blank"
              >
                <img
                  class="widget-capterra"
                  alt="Capterra"
                  src="https://assets.capterra.com/badge/3639f81cbd6b7481d0a4b5fd2fdd9143.png?v=2136992&p=196048"
                />
              </a>
            </div>

            <div>
              <a
                href="https://www.bbb.org/us/ga/augusta/profile/telephones/callingpost-communications-inc-0743-23960"
                target="_blank"
              >
                <img
                  mat-card-image
                  src="../../../assets/img/bbb-quality.jpg"
                  height="120"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="form-column-right">
          <form
            fxLayout="column"
            fxLayoutGap="15px"
            class="payment-form"
            [formGroup]="paymentForm"
            (ngSubmit)="onSubmit()"
          >
            <div
              fxFlexAlign="start"
              class="typography-24 typography-24--bolder"
            >
              Select Payment Method
            </div>
            <div fxLayout="column" class="payment-info">
              <mat-form-field>
                <mat-label>
                  <span
                    class="typography-16 text-black typography-16--scale-mobile"
                  >
                    Card number
                  </span>
                </mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="creditCardNumber"
                />
                <mat-error>*Invalid card number</mat-error>
              </mat-form-field>
              <div fxLayout fxLayoutGap="15px">
                <mat-form-field fxFlex="calc(50% - 15px)">
                  <mat-label>
                    <span
                      class="
                        typography-16
                        text-black
                        typography-16--scale-mobile
                      "
                    >
                      MM/YY
                    </span>
                  </mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [min]="today"
                    formControlName="expirationNotice"
                  />
                  <mat-error
                    *ngIf="
                      paymentForm.get('expirationNotice').errors
                        ?.matDatepickerMin
                    "
                  >
                    *Please, use valid future MM/YY
                  </mat-error>
                  <mat-error
                    *ngIf="
                      paymentForm.get('expirationNotice').errors
                        ?.matDatepickerParse
                    "
                  >
                    *Invalid date. Format: MM/YY
                  </mat-error>
                  <mat-datepicker-toggle matSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #picker
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, picker)"
                  ></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="calc(50% - 15px)">
                  <mat-label>
                    <span
                      class="
                        typography-16
                        text-black
                        typography-16--scale-mobile
                      "
                    >
                      CCV
                    </span>
                  </mat-label>
                  <input matInput type="text" formControlName="cardCode" />
                  <mat-error>*Invalid CCV</mat-error>
                </mat-form-field>
              </div>
              <mat-form-field>
                <mat-label>
                  <span
                    class="typography-16 text-black typography-16--scale-mobile"
                  >
                    Email Address
                  </span>
                </mat-label>
                <input matInput type="text" formControlName="emailAddress" />
                <mat-error>*Invalid value</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <span class="typography-24 typography-24--bolder">
                Billing info
              </span>
              <mat-form-field>
                <mat-label>
                  <span
                    class="typography-16 text-black typography-16--scale-mobile"
                  >
                    Address
                  </span>
                </mat-label>
                <input matInput type="text" formControlName="address1" />
                <mat-error>*Address required</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="form-field--no-infix">
                <mat-label>
                  <span
                    class="typography-16 text-black typography-16--scale-mobile"
                  >
                    City
                  </span>
                </mat-label>
                <input matInput type="text" formControlName="city" />
                <mat-error>*City required</mat-error>
              </mat-form-field>
              <div fxLayout fxLayoutGap="15px">
                <mat-form-field>
                  <mat-label>
                    <span
                      class="
                        typography-16
                        text-black
                        typography-16--scale-mobile
                      "
                    >
                      ZIP Code
                    </span>
                  </mat-label>
                  <input matInput type="text" formControlName="zip" />
                  <mat-error>*Zip code required</mat-error>
                </mat-form-field>
                <mat-form-field
                  appearance="legacy"
                  class="form-field--no-infix"
                  fxFlex
                >
                  <mat-label
                    class="typography-16 text-black typography-16--scale-mobile"
                  >
                    State
                  </mat-label>
                  <mat-select formControlName="state">
                    <mat-option value="" disabled selected>
                      Select an state
                    </mat-option>
                    <mat-option *ngFor="let state of STATES" [value]="state">
                      {{ state }}
                    </mat-option>
                  </mat-select>
                  <mat-error>Please select your state</mat-error>
                </mat-form-field>
              </div>
            </div>
            <button
              class="auth-button auth-button--green"
              type="submit"
              fxLayout
              fxFlexAlign="center"
              [disabled]="shouldDisableSubmit"
            >
              <span>CONFIRM PURCHASE</span>
            </button>

            <div
              fxLayoutAlign.lt-sm="row wrap"
              class="privacy-policy typography-12"
            >
              <p>
                By clicking this button, you agree to
                <a
                  href="https://www.callingpost.com/TermsAndConditions.pdf"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Terms of Service
                </a>
                &
                <a
                  href="https://www.callingpost.com/privacypolicy.html"
                  target="_blank"
                  >Privacy Policy</a
                >
              </p>
            </div>
          </form>
        </div>
        <div fxHide.gt-md fxShow.lt-lg fxLayout="row">
          <div
            class="trustpilot-widget"
            data-locale="en-US"
            data-template-id="53aa8807dec7e10d38f59f32"
            data-businessunit-id="5d37320fec30d000019dfd5b"
            data-style-height="130px"
            data-style-width="100%"
            data-theme="light"
            id="trustbox"
            fxFlex="40"
            fxFlexAlign.lt-md="center"
          >
            <a
              href="https://www.trustpilot.com/review/callingpost.com"
              target="_blank"
              rel="noopener"
            >
              Trustpilot
            </a>
          </div>

          <div
            class="col-md-6 col-xs-6"
            fxFlex="40"
            fxLayoutAlign="center center"
            fxFlexAlign.lt-md="center"
          >
            <a
              href="https://www.capterra.com/reviews/196048/CallingPost?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge"
              target="_blank"
            >
              <img
                class="widget-capterra"
                alt="Capterra"
                src="https://assets.capterra.com/badge/3639f81cbd6b7481d0a4b5fd2fdd9143.png?v=2136992&p=196048"
              />
            </a>
          </div>

          <div fxFlex="20" fxFlexAlign.lt-md="start">
            <a
              href="https://www.bbb.org/us/ga/augusta/profile/telephones/callingpost-communications-inc-0743-23960"
              target="_blank"
            >
              <img
                mat-card-image
                src="../../../assets/img/bbb-quality.jpg"
                height="120"
                fxHide.lt-sm
              />
              <img
                mat-card-image
                src="../../../assets/img/bbb-quality.jpg"
                height="100"
                fxHide.gt-xs
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-auth-footer></app-auth-footer>
</div>

