<div fxLayout="column" fxLayoutGap="26px">
  <div class="bottom-sheet-prinary__header">
    <h3 fxFlex="100" class="typography-16 typography-16--bold title">
      Create Voice Message w/ Keyboard
    </h3>
    <div fxLayout>
      <button mat-icon-button (click)="closeDialog()">
        <mat-icon class="blue-icon">close</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="bottom-sheet-prinary__body"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="20px"
  >
    <p class="typography-16 typography-16--bold">
      Enter your message here. Your text will be automatically converted to a
      voice message and delivered via phone call. (TTS)
    </p>

    <form fxLayout="column" fxLayoutGap="10px" [formGroup]="keyboardForm">
      <mat-form-field appearance="outline">
        <textarea
          class="message--non-resizable"
          cols="10"
          rows="7"
          matInput
          placeholder="Type your message here..."
          formControlName="message"
          [matTextareaAutosize]="true"
        ></textarea>
      </mat-form-field>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="typography-12"
      >
        <mat-form-field class="language-selector" fxFlex="130px">
          <mat-select
            formControlName="language"
            (selectionChange)="onChangeLanguage($event)"
          >
            <mat-option *ngFor="let option of languages" [value]="option.value">
              <span class="typography-12">{{ option.label }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="typography-14">
          Character count: {{ messageLength }}
        </span>
      </div>
    </form>
  </div>

  <div
    class="bottom-sheet-prinary__actions"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <div fxLayoutGap="10px" fxLayout="column">
      <button
        mat-button
        mat-flat-button
        fxFlex="70%"
        color="primary"
        [disabled]="keyboardForm.invalid"
        (click)="onSaveMessage()"
      >
        Continue
      </button>
      <button
        mat-button
        mat-stroked-button
        color="primary"
        fxFlex
        (click)="closeDialog()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
