@import '../variables';

.bottom-sheet-prinary {
  &__actions,
  &__body {
    margin: 0 15px;
  }
  .mat-dialog-container {
    padding: 26px 36px;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $app-platinum;
    .title {
      text-align: center;
    }
  }
}
