@import '../variables';

body {
  .checkbox-green {
    .mat-checkbox-inner-container {
      height: 20px;
      width: 20px;
    }
    .mat-checkbox-background {
      background-color: transparent !important;
      .mat-checkbox-checkmark-path {
        stroke: $app-lime-green !important;
      }
    }
  }
}
