.mat-grid-tile-wrapper {
  .mat-grid-tile-content {
    padding-left: 25%;
    justify-content: flex-start;
  }
}

@media (max-width: 959px) {
  .mat-grid-tile-wrapper {
    .mat-grid-tile-content {
      padding-left: 15%;
    }
  }
}
