.time-input {
  border: none;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  font-family: Roboto;
  width: 40px;
  &:focus,
  &:active {
    outline: none;
  }
}

.time-input::-webkit-inner-spin-button,
.time-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-input {
  -moz-appearance: textfield;
}

.picker-actions--spacing {
  margin: 0 1rem;
}
