<app-mobile-header
  (closed)="cancelOnClick()"
  headerTitle="Edit Group's Name"
></app-mobile-header>

<div class="full-screen">
  <section class="group-name">
    <h3>Group Name</h3>
    <mat-form-field>
      <mat-label>New group name</mat-label>
      <input appAlphaNumericOnly matInput [formControl]="newGroupName" />
    </mat-form-field>
  </section>

  <section class="user-action">
    <button
      type="button"
      mat-raised-button
      class="mobile-btn _save"
      (click)="saveOnClick()"
    >
      Save
    </button>

    <button
      type="button"
      mat-raised-button
      class="mobile-btn _clear"
      (click)="cancelOnClick()"
    >
      Cancel
    </button>
  </section>
</div>
