<div fxLayout="column" fxLayoutGap="26px" class="dialog">
  <div>
    We apologize but based on your current plan size you have reached the monthly send limit based on our reasonable use policy guidelines. These guidelines help protect message recipients from message fatigue. You will need to increase your plan size to increase your limit further. For more information please give us a call at 877-665-5646.
  </div>
  <div fxLayout fxLayoutAlign="space-around center" >
    <button (click)="onCloseDialog()" mat-raised-button color="primary">
      INCREASE
    </button>
  </div>
</div>
