<div class="user-detail-frame" fxLayoutGap="25px" fxLayout="column" [formGroup]="emailFrameForm">
  <div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutAlign="center center"
  fxLayoutAlign.lt-md="unset unset"
  >
    <div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column" fxFlex>
      <div fxLayout="column" fxFlex="1 1 50%">
        <label class="typography-16 user-detail-label text-grey">Email Address</label>
        <mat-form-field  fxLayout="row" fxLayoutGap="42px" class="user-detail-field" fxFlex>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex="1 1 50%">
        <label class="typography-16 text-grey">Email Type</label>
        <mat-form-field  fxLayout="row" fxLayoutGap="42px" class="user-detail-field" fxFlex>
          <mat-select formControlName="emailLocation">
            <mat-option  class="typography-16" *ngFor="let emailType of EMAIL_TYPE_OPTIONS"
            [value]="emailType.id"  title="{{emailType.value}}">
              {{emailType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="50px">
      <div fxLayout="row" fxLayoutGap="50px">
        <mat-slide-toggle
        formControlName="isActive"
        [labelPosition]="'before'"
        class="user-detail-toggle">
          ACTIVE
        </mat-slide-toggle>
        <mat-checkbox class="user-detail-checkbox typography-14" formControlName="isPrimary" [disabled]='this.isPrimaryControl.value'>Primary email</mat-checkbox>
      </div>

      <span class="link delete typography-16" (click)='onDelete()'>Delete</span>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="6px">
    <mat-error *ngIf='hasRequiredError'>Please provide a value for: {{ requiredErrorFields }}.</mat-error>
    <mat-error *ngIf='hasPatternError'>Please provide a correct value for: {{ patternErrorFields }}.</mat-error>
  </div>
</div>
