@import '/src/styles/variables';

.assign-keyword {
  max-width: 60%;
  padding: 60px 50px;
  @include respond(tab-port) {
    max-width: 60%;
  }
  @include respond(phone) {
    max-width: 100%;
  }
}

.header {
  margin-bottom: 40px;
}

.form-assign-keyword {
  max-width: 500px;
  width: 100%;
}

.max-width-form-control {
  width: 100%;
}



@media screen and (max-width: $sm) {
  .mobile-center {
    text-align: center;
  }
  .assign-keyword {
    padding: 16px 34px;
  }
}


