<div fxLayout fxLayoutGap="5px" fLayoutAlign="start center">
  <span
    class="typography-14 typography-14--bold text-grey"
    fxFlexAlign="flex-end"
  >
    Preview:
  </span>
  <div fxLayout fxLayoutGap="10px">
    <button
      mat-icon-button
      class="app-icon-button-20"
      *ngIf="renderMessage.showPhoneMessage"
      (click)="
        onPhoneMessageDetailsOpen(
          renderMessage.id,
          renderMessage.creationDate,
          $event
        )
      "
    >
      <mat-icon
        fontSet="material-icons-outlined"
        color="primary"
        class="app-icon-20"
      >
        phone_in_talk
      </mat-icon>
    </button>
    <button
      mat-icon-button
      class="app-icon-button-20"
      *ngIf="renderMessage.showTextMessage"
      (click)="
        onTextMessageDetailsOpen(
          renderMessage.id,
          renderMessage.creationDate,
          $event
        )
      "
    >
      <mat-icon
        *ngIf="renderMessage.acceptResponses"
        fontSet="material-icons-outlined"
        color="primary"
        class="app-icon-20"
        >poll</mat-icon
      >
      <mat-icon
        *ngIf="!renderMessage.acceptResponses"
        fontSet="material-icons-outlined"
        color="primary"
        class="app-icon-20"
        >sms</mat-icon
      >
    </button>
    <button
      mat-icon-button
      class="app-icon-button-20"
      *ngIf="renderMessage.showEmailMessage"
      (click)="
        onEmailMessageDetailsOpen(
          renderMessage.id,
          renderMessage.creationDate,
          $event
        )
      "
    >
      <mat-icon
        fontSet="material-icons-outlined"
        color="primary"
        class="app-icon-20 email-icon"
      >
        email
      </mat-icon>
    </button>
  </div>
</div>
