<div fxLayout="column" fxLayoutGap="10px">
  <span class="typography-16">
    Custom phone number:
    <span class="typography-16--bold" *ngIf="phone && !existedPhoneNumber">{{ phone }}</span>
    <span class="typography-16--bold"  *ngIf="phone && existedPhoneNumber">{{existedPhoneNumber | phoneNumberFormat}}</span>
  </span>
  <span class="typography-16">
    Cost: <span class="typography-16--bold">{{ '19.99' | currency: 'USD'  }}/month</span>
  </span>
</div>

<div fxLayout="column">
  <span class="typography-16 typography-16--bold">{{ existedPhoneNumber ? 'Select Term' : 'Discount' }}</span>
  <mat-form-field>
    <mat-select
      [formControl]="discountControl"
      (selectionChange)="findDueNowValue()"
    >
      <mat-option *ngFor="let option of discountOptions" [value]="option.id">
        {{ option.displayOption }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="typography-16 typography-16--scale-mobile">
    Total Due Now:
    <span class="typography-16--bold">{{ dueNow | currency: 'USD'  }}</span>
  </span>
</div>

<div fxLayout="column">
  <span class="typography-16 typography-16--bold"> Payment Method </span>
  <mat-form-field>
    <mat-select
      [formControl]="paymentControl"
      (selectionChange)="onProfileSelect($event)"
    >
      <mat-option *ngIf="!paymentProfiles.length" disabled>
        No payment profiles.
      </mat-option>
      <ng-container *ngIf="paymentProfiles.length">
        <mat-option *ngFor="let profile of paymentProfiles" [value]="profile">
          {{
            profile.creditCardNumber
              ? profile.creditCardNumber
              : profile.accountNumber
          }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="column">
  <span
    *ngIf="!paymentProfiles.length"
    class="typography-18--bold text-danger text-center"
  >
    Please, specify payment credentials.
  </span>
  <mat-accordion>
    <mat-expansion-panel
      class="panel panel--no-padding"
      [expanded]="!paymentProfiles.length"
    >
      <mat-expansion-panel-header style="padding-right: 5px">
        <mat-panel-title>
          <span class="typography-18 typography-18--bold">Payment Info</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="payment-block">
        <ng-content></ng-content>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="!existedPhoneNumber" fxLayout>
  <span class="typography-14" fxFlex="65">
    Note: Purchasing a phone number will also give you access to call forwarding
    with 200 minutes / mo.
  </span>
</div>
