@import '/src/styles/variables';

// Table
.group-desktop-wrapper {
  border-radius: 1rem;
  margin: 1rem 2rem 1rem 2rem;
  overflow: auto;
}
.virtual-table {
  width: 100%;
  overflow: auto;
  max-width: 100%;
  background-color: $app-white;
}
.group-scroll-view {
  border-radius: 7px;
  background-color: $app-white;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.table-header {
  font-weight: 600;
  color: $app-black;
  font-size: 0.9rem;
}
.table-data {
  color: $app-black;
}
.table-row {
  height: 4rem;
  &:hover {
    cursor: pointer;
    background-color: $app-white-smoke;
  }
}
.loading-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 330px);
}
.dark-grey {
  color: $app-normal-grey;
}

// Misc
.hide-section {
  display: none;
}

// Profile
.group-item {
  &.__title {
    font-size: 1.25rem;
    color: $app-mat-blue;
  }
  &:hover {
    background-color: $app-white-smoke;
  }
}
.group-item-edit {
  padding-left: 24px;
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $app-light-grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $app-dark-grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $app-dark-grey;
}

cdk-virtual-scroll-viewport {
  overflow: visible;
  contain: inherit;
}
