<div fxLayout="column" fxLayoutGap="26px" class="dialog">
  <p>You have exceeded the member limit of your plan.  Please upgrade your plan. For more information please give us a call at 877-665-5646.</p>
  <div fxLayout fxLayoutGap="10px" fxLayoutAlign="space-around center" >
    <button
      mat-flat-button
      color="primary"
      fxFlex
      class="button button--lime-green"
      (click)="onCloseDialog()"
    >
      <span class="typography-12"> UPGRADE </span>
    </button>
  </div>
</div>