@import '/src/styles/variables';

.purchase-keyword {
  max-width: 60%;
  padding: 60px 50px;
  @include respond(tab-port) {
    max-width: 60%;
  }
  @include respond(phone) {
    max-width: 100%;
  }
}

.header {
  margin-bottom: 30px;
}

.form-purchase-keyword {
  max-width: 500px;
  width: 100%;
}

.max-width-form-control {
  width: 100%;
}

.keyword {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: $sm) {
  .mobile-center {
    text-align: center;
  }
  .purchase-keyword {
    padding: 16px 34px;
  }
}


