.btn {
  &.__print {
    color: #fff;
    text-align: center;
    background: #2f7ae2;
    &:focus {
      background-color: #2f7ae2;
    }
  }
  &.__close {
    border: none;
    color: black;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: transparent;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

// Table
.table-wrapper {
  width: 100%;
  padding: 1rem;
}
.table-head {
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}
.table-head-row {
  text-align: justify;
}
.table-body-data {
  padding-bottom: 0.5rem;
}

// Title
.member-count {
  margin: 0;
  font-weight: 400;
}
.member-title {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .member-main-section {
    overflow-y: hidden;
  }
  .table-wrapper {
    display: block;
    overflow-y: scroll;
  }
}

@media only print {
  #btn-action-group {
    display: none;
  }
  #member-section {
    width: auto;
    height: auto;
    overflow: visible;
  }
}
