<div fxLayout="column" fxLayoutAlign="space-evenly center" fxFill class="subscribe-container">
  <div fxLayout="column" fxLayoutAlign="center center" class="question-container success" *ngIf="isSuccess">
    <div fxLayout="column" fxLayoutAlign="center center" class="success-message">
      <span class="material-icons-outlined icon-white">check_circle</span>
      <span class="typography-20 success-text">success</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 20px;">
      <a href="http://www.callingpost.com"><img class="logo" src="/assets/img/CallingPostLogo.png"></a>
    </div>
    <span class="typography-17" style="font-weight: 500; padding-bottom: 16px;">Thank you!</span>
    <span class="typography-16">You email has been verified.</span>
  </div>
</div>