<div class="create-group-managers" fxLayout="column" fxLayoutAlign="start start">
  <span class="typography-28 typography-28--bolder typography-28--scale-mobile header margin-bottom--20">
    Add Group Managers
  </span>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input-full-width" appearance="fill">
      <input matInput type="email" placeholder="Enter Group managers Email Address" formControlName="requestEmailAddress">
      <mat-error>Enter Group managers Email Address</mat-error>
    </mat-form-field>

    <span class="typography-16 typography-16--bold typography-16--scale-mobile header margin-bottom--20">
      Select group(s) you would like manager to communicate with
    </span>

    <div>
      <mat-checkbox
      (change)="selectAllCheck($event)"
          class="margin-top--30"
      >
      <span class="typography-14 typography-14--bold typography-14--scale-mobile header margin-bottom--20">
        All Groups
      </span>
    </mat-checkbox>
    </div>
    <div class="margin-left--30 margin-top--20 margin-bottom--20">
      <span class="typography-14 typography-14--bold typography-14--scale-mobile header margin-bottom--20">
        Group Assignment
      </span>
      <div *ngFor="let group of groups; let i = index" class="margin-left--30 margin-top--10">
        <mat-checkbox
        [checked]="group.checked"
        (change)="onCheckboxChange($event, group.id)"
        >
          {{group?.groupName}}
        </mat-checkbox>
      </div>
      <mat-error *ngIf="form.get('userGroupRoles')?.errors">
        Please choose either All Groups or
         make an individual group assignment before clicking the Send Invite button
      </mat-error>
    </div>

    <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" class="margin-top--30 margin-bottom--30">
      <span class="typography-14 typography-14--bold typography-14--scale-mobile header">
        Set monthly credit limit for this manager:
        <span class="typography-12 margin-bottom--20" fxShow fxHide.lt-md>
          NOTE: Credits will be drawn from your account balance.
        </span>
      </span>
      <span class="typography-12 margin-bottom--20" fxHide fxShow.lt-md>
        NOTE: Credits will be drawn from your account balance.
      </span>
      <mat-form-field>
        <input type="text" appNumbersOnly matInput formControlName="creditLimit">
      </mat-form-field>
    </div> -->

    <div
        fxLayout="row"
        fxLayoutGap="15px"
        class="margin-top--30"
      >
        <button
        mat-raised-button
        class="button button-primary-inverted create"
        fxFlex
        (click)="onCancel()"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          class="button button-submit create"
          fxFlex
          type="submit"
        >
          Send Invite
        </button>
      </div>
  </form>
</div>
