@import '/src/styles/variables';

.change-password {
  padding: 50px 0 50px 80px;
  @include respond(tab-port) {
    padding: 30px 10px;
  }
}

.format-button {
  border: 1px solid $app-grey;
  border-radius: 3px;
  &__label {
    margin: 0 15px;
    @include respond(tab-port) {
      margin: 0 5px;
    }
  }
}

.form-field {
  max-width: 40%;
  @include respond(tab-port) {
    max-width: 40%;
  }
  @include respond(phone) {
    max-width: 100%;
  }
}

.external-logins {
  display: flex;
}

.login-button-container {
  &.button-google-container {
    padding-right: 15px;
  }

  button {
    height: 41px;
    box-shadow: none;
    background: none;
    border-radius: 3px;
  }

  .btn-google {
    border: 1px #ea4335 solid;
    color: #ea4335;
    mat-icon {
      padding-right: 15px;
    }
  }

  .btn-facebook {
    border: 1px #3d5998 solid;
    color: #3d5998;
    mat-icon {
      padding-right: 15px;
    }
  }
}

.login-warning-message {
  display: flex;
  padding-top: 10px;
  mat-icon {
    padding-right: 10px;
    color: #f44336;
  }
}
