<div class="change-password" fxLayout="column" fxLayoutGap="40px">
  <mat-expansion-panel
    class="user-detail-section"
    fxLayout="column"
    [formGroup]="changePasswordForm"
    [expanded]="true"
  >
    <mat-expansion-panel-header collapsedHeight="59px">
      <span class="typography-20--bold title text-rhino">Change Password</span>
    </mat-expansion-panel-header>
    <form
      class="form"
      fxLayout="column"
      fxLayoutGap="50px"
      fxLayoutGap.lt-sm="30px"
    >
      <div class="max-width-form-control" fxLayout="column" *ngIf="showCurrentPassword | async">
        <span class="typography-16--bold">Current Password</span>
        <mat-form-field
          class="form-field form-field--regular"
          floatLabel="never"
        >
          <input
            type="text"
            matInput
            formControlName="currentPassword"
            placeholder="Type current password"
          />
          <mat-error *ngIf="hasSpecificError(currentPassword, 'required')"
            >Please enter current password</mat-error
          >
        </mat-form-field>
      </div>

      <div class="max-width-form-control" fxLayout="column">
        <span class="typography-16--bold">New Password</span>
        <mat-form-field
          class="form-field form-field--regular"
          floatLabel="never"
        >
          <input
            type="text"
            matInput
            formControlName="newPassword"
            maxlength="6"
            placeholder="Type new password (6 digits only)"
          />
          <mat-error *ngIf="hasSpecificError(newPassword, 'required')">
            Please enter new password
          </mat-error>
          <mat-error *ngIf="hasSpecificError(newPassword, 'minLength')">
            Please enter 6 digits
          </mat-error>
          <mat-error *ngIf="hasSpecificError(newPassword, 'pattern')">
            Please enter only digits
          </mat-error>
        </mat-form-field>
      </div>

      <div class="max-width-form-control" fxLayout="column">
        <span class="typography-16--bold">Confirm New Password</span>
        <mat-form-field
          class="form-field form-field--regular"
          floatLabel="never"
        >
          <input
            type="text"
            matInput
            formControlName="confirmNewPassword"
            placeholder="Re-type new password (6 digits only)"
          />
          <mat-error
            *ngIf="
              confirmNewPassword.dirty && confirmNewPassword.errors?.noMatch
            "
          >
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        class="typography-14 button button--lime-green"
        (click)="onSave()"
        [disabled]="changePasswordForm.invalid"
      >
        Submit
      </button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel
    fxLayout="column"
    [expanded]="false"
    class="user-detail-section"
    [formGroup]="changePasswordForm"
  >
    <mat-expansion-panel-header collapsedHeight="59px">
      <span class="typography-20--bold title text-rhino">External Logins</span>
    </mat-expansion-panel-header>
    <div
      fxLayout
      fxLayoutGap="50px"
      fxLayout.lt-md="column"
      fxLayoutGap.lt-sm="30px"
    >
      <div fxLayout="column" fxLayoutGap="10px">
        <button
          fxFlex
          mat-raised-button
          class="typography-15 button btn-google"
          (click)="btnGoogleOnClick(hasGoogleAccount)"
        >
          <ng-template
            [ngTemplateOutlet]="actionButton"
            [ngTemplateOutletContext]="{
              text: hasGoogleAccount
                ? 'Remove my Google account'
                : 'Sign In with Google'
            }"
          ></ng-template>
        </button>
        <ng-template
          *ngIf="!hasGoogleAccount"
          [ngTemplateOutlet]="detachedAccountWarning"
          [ngTemplateOutletContext]="{ provider: 'Google' }"
        ></ng-template>
      </div>

      <div fxLayout="column">
        <button
          fxFlex
          mat-raised-button
          (click)="btnFacebookOnClick(hasFacebookAccount)"
          class="typography-15 button btn-facebook"
        >
          <ng-template
            [ngTemplateOutlet]="actionButton"
            [ngTemplateOutletContext]="{
              provider: 'facebook',
              text: hasFacebookAccount
                ? 'Remove my Facebook account'
                : 'Sign In with Facebook'
            }"
          ></ng-template>
        </button>
        <ng-template
          *ngIf="!hasFacebookAccount"
          [ngTemplateOutlet]="detachedAccountWarning"
          [ngTemplateOutletContext]="{ provider: 'Facebook' }"
        ></ng-template>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<ng-container>
  <ng-template #actionButton let-text="text" let-provider="provider">
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="5px">
      <mat-icon *ngIf="provider; else matSVGIcon"> {{ provider }}</mat-icon>
      <ng-template #matSVGIcon>
        <mat-icon svgIcon="logo"></mat-icon>
      </ng-template>
      <span class="typography-15">{{ text }}</span>
    </div>
  </ng-template>

  <ng-template let-provider="provider" #detachedAccountWarning>
    <div class="login-warning-message">
      <mat-icon>warning</mat-icon>
      <span class="typography-15">
        There are no {{ provider }} accounts associated with your CallingPost
        account.
      </span>
    </div>
  </ng-template>
</ng-container>
