<div class="phone-numbers__list" fxLayout="column" fxLayoutGap="30px">
  <table mat-table [dataSource]="phoneNumbers$" class="mat-elevation-z2">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <mat-checkbox (change)="$event ? masterToggle() : null" -->
        <!-- [checked]="true" -->
        <!-- > -->
        <!-- </mat-checkbox> -->
        <!-- [indeterminate]="selection.hasValue() && !isAllSelected()" -->
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          [checked]="element.flaggedForDeletion"
          (change)="onPhoneNumbersDeleteClick(element.id, $event)"
          (click)="$event.stopPropagation()"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile"
        >
          PHONE NUMBER
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile"
        >
          {{ element.phoneNumber | phoneNumberFormat }}
          {{ element.flaggedForDelete }}</span
        >
      </td>
    </ng-container>

    <!-- Call Forwarding Column -->
    <ng-container matColumnDef="callForwardPhoneNumber">
      <th mat-header-cell *matHeaderCellDef>
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile padding-left--22"
          fxShow
          fxHide.lt-md
        >
          CALL FORWARDING
        </span>
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile padding-left--22"
          fxHide
          fxShow.lt-md
        >
          FORWARDING
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          color="primary"
          mat-button
          type="button"
          *ngIf="
            !element.callForwardPhoneNumber;
            else hasCallForwardPhoneNumber
          "
          (click)="onCallForwardingDialogOrSheet(element.phoneNumber)"
        >
          <div
            fxLayout
            fxLayoutGap="5px"
            fxLayoutAlign="start center"
            fxShow
            fxHide.lt-md
          >
            <mat-icon>add</mat-icon>
            <span class="typography--16">Add Call Forwarding</span>
          </div>
          <div
            fxLayout
            fxLayoutGap="5px"
            fxLayoutAlign="start center"
            fxHide
            fxShow.lt-md
          >
            <mat-icon>add</mat-icon>
            <span class="typography--16">Add</span>
          </div>
        </button>
        <ng-template #hasCallForwardPhoneNumber>
          <span
            class="
              typography-14 typography-14--bold typography-14--scale-mobile
              padding-left--16
            "
          >
            {{ element?.callForwardPhoneNumber }}
            <button
              color="primary"
              mat-button
              type="button"
              (click)="onCallForwardingDialogOrSheet(element.phoneNumber)"
            >
              <div fxLayout fxLayoutGap="5px" fxLayoutAlign="start center">
                <span class="typography--16">Edit</span>
              </div>
            </button>
          </span>
        </ng-template>
      </td>
    </ng-container>

    <!-- Renewal Date Column -->
    <ng-container matColumnDef="renewalDate">
      <th mat-header-cell *matHeaderCellDef class="padding-left--22--mobile">
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile"
        >
          RENEWAL DATE
        </span>
      </th>
      <td mat-cell *matCellDef="let element" class="padding-left--22--mobile">
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile"
        >
          {{ element.endDate | date : 'shortDate'}}
        </span>
      </td>
    </ng-container>

    <!-- Extend Renewal Column -->
    <ng-container matColumnDef="extendRenewal">
      <th mat-header-cell *matHeaderCellDef>
        <span
          class="typography-16 typography-16--bold typography-16--scale-mobile padding-left--22"
        >
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          type="button"
          color="primary"
          *ngIf="
            !element.callForwardPhoneNumber;
            else hasCallForwardPhoneNumber
          "
          appPurchasePhoneNumbers
          [userInfo]="userInfo"
          [endDate]="element.endDate"
          [existPhoneNumber]="element.phoneNumber"
        >
          <div
            fxLayout
            fxLayoutGap="5px"
            fxLayoutAlign="start center"
            fxShow
            fxHide.lt-md
          >
            <mat-icon>add</mat-icon>
            <span class="typography--16">Extend Renewal</span>
          </div>
          <div
            fxLayout
            fxLayoutGap="5px"
            fxLayoutAlign="start center"
            fxHide
            fxShow.lt-md
          >
            <mat-icon>add</mat-icon>
            <span class="typography--16">Extend Number</span>
          </div>
        </button>
        <ng-template #hasCallForwardPhoneNumber>
          <span
            class="
              typography-14 typography-14--bold typography-14--scale-mobile
              padding-left--16
            "
          >
            {{ element?.callForwardPhoneNumber }}
            <button
              color="primary"
              mat-button
              type="button"
            >
              <div fxLayout fxLayoutGap="5px" fxLayoutAlign="start center">
                <span class="typography--16">Edit</span>
              </div>
            </button>
          </span>
        </ng-template>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="onDelete(element.id)">
          <span
            class="
              delete
              typography-14 typography-14--bold typography-14--scale-mobile
            "
            >Delete</span
          >
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
